BasedOnStyle: LLVM
ColumnLimit: 0
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
AlwaysBreakTemplateDeclarations: "Yes"
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: "NonAssignment"
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
BreakBeforeTernaryOperators: false
AlignConsecutiveAssignments: true
